ol li{
  list-style-type: none;

}

.parent-div{
 
}

.chat_footer{
  display: flex;
  flex-shrink: 0;
}
.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
}

.chat__footer form input {
  margin-right: 10px;
}

.main-chat .row .col-2:first-child{
  padding: 20px 10px 20px 10px;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}

#time-stamp{
  font-size: 13px;
}
#from{
  font-size: 14px;
}
.message__body p{
  padding: 0;
  margin: 0;
}