body{
  background: #fafafa; 
}

.form-group{
  padding: 20px;
}

footer{
  margin-top: 20px;
}

#room-selector{
  margin-top: 20px;
}

#footer{
  background: #202020;
}

.parent-div{
  padding: 5% 0;

}
.welcome{
  padding: 10% 0;
}

@media (max-width: 575.98px){
  .col-sm:first-child{
    text-align: center;
  }
  .col-sm:first-child h7{
    margin: 15px 0 15px 0;
  }
  .col-sm:nth-child(1){
    height: 100px;
  }
  .col-sm:nth-child(2) h5{
    text-align: center;
  }
}
@media (max-width: 767.98px){

}
@media (min-width: 768px){
  body{
    overflow: hidden!important; 
  }
}